<mat-card class="example-card">

  <mat-toolbar color="primary">
    Detalhes do usuário
  </mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">
      <mat-form-field class="full-width">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="Nome" formControlName="nome" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Enter your CPF</mat-label>
        <input matInput placeholder="CPF" formControlName="cpf" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
        <button mat-icon-button matSuffix (click)="hide = !hide" attr.aria-label="Hide password" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>

</mat-card>
